{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/" role="button">Get Started</a>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Represent Community</h2>
        <p>Control content and organisation of content directly at community level.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Important Community Issues</h2>
        <p>Let the community know about important issues and why they are important.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Community Resources</h2>
        <p>Let community members know about resources for them and how to effectively engage.</p>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Low Cost</h2>
          <p>Low capital and ongoing costs.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Inexpensive Hardware</h2>
          <p>OS and software to run on older 4GB or more RAM laptops.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Minimise Traffic</h2>
          <p>Keep network costs low for development and for community users</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Proven Support Techniques</h2>
          <p>Command line use encouraged for ease of support</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Security Practices</h2>
          <p>Support to keep software up to date and encourage sound security practices</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Collaborate</h2>
          <p>Use proven collaboration and knowledge sharing techniques</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Active Support</h2>
          <p>Get help starting off and participate in support forums</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Strong Software </h2>
          <p>Support for using proven software that is likely to stay the distance</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Strong Vendors</h2>
          <p>Use proven and strong vendors with generous free allowances</p>
        </div>
      </div>
    </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
